<div class="main-footer">
    <div class="upper-footer container">
        <div class="footer-links">
            <a class="footer-link" href="facebook.com"><mat-icon>facebook-box</mat-icon></a>
            <a class="footer-link" href="twitter.com"><mat-icon svgIcon="linkedin"></mat-icon></a>
            <a class="footer-link" href="linkedin.com"><mat-icon svgIcon="youtube"></mat-icon></a>
        </div>
        <div class="footer-menu">
            <nav class="footer-nav">
                <ul class="footer-list">
                    <li class="footer-navline"><a class="footer-navlink" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                    <li class="footer-navline"><a class="footer-navlink" routerLink="/news" routerLinkActive="active">News</a></li>
                    <li class="footer-navline"><a class="footer-navlink" routerLink="/profile" routerLinkActive="active">Profile</a></li>
                    <li *ngIf="!auth.checkLogin(); else logout" class="footer-navline"><a routerLink="/login" routerLinkActive="active" class="footer-navlink">Login</a></li>
                    <ng-template #logout><li class="footer-navline"><a routerLink="/login" (click)="auth.logout()" class="footer-navlink">Logout</a></li></ng-template>
                </ul>
            </nav>
        </div>
    </div>
    <svg height="1" width="100vw">
        <line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(165, 165, 165);stroke-width:0.75px" />
      </svg>
    <div class="lower-footer container">
        <p class="footer-rights-text">Git-com © All rights reserved. </p>
    </div>
</div>