ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: end;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: all .3s;
}

li a:hover:not(.active){
    background-color: #111;
}

.active {
    background-color: #009628;
}
