<div class="home-container">
  <div class="hero">
    <h1 class="hero-text" @textShow>
      stay in touch with the <span class="highlight">latest</span> news
    </h1>
    <h2 class="hero-text2" @subTitle>
      Get Notifications instantly by subscribing to our newsletter
    </h2>
    <span>
      <img
        class="hero-image"
        src="https://img.freepik.com/free-vector/trendy-fashion-portraits-cover-collection_52683-67178.jpg?w=1380&t=st=1675257583~exp=1675258183~hmac=ace6e606f534d80bae19feb598b3042802d4d0a1761330d2640b3cd450d6978b"
        alt="hero-img"
    /></span>
    <button class="btn-hero">Subscribe</button>

  </div>
  <div class="home-body"></div>
</div>
